


@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <div class="row My-center">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <img class="display" src="~/Content/Image/saless.jpg" alt="market" />
            </div>


            <div class="col-md-2">

            </div>
        </div>
    </div>