@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row My-center">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <img class="display" src="~/Image/market.jpg" alt="prod" />
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>




